
{# {% dump(content) %} #}

<div class="addresseContainer">
    {{ content.fullName}} <br/>
    {% if content.mainAddress %}
        {% set address = content.mainAddress %}
    {% elseif content.addresses %}
        {% set address = content.addresses[0] %}
    {% else %}
        {% set address = null %}
    {% endif %}

    {% if address %}
        {{ address.street}} {{address.number}} <br/>
        {{ address.zip}} {{address.city}} <br/>
    {% endif %}
</div>